body
{
	background-color: #1f2423;
}


label
{
	color:white;
}

.login
{
	width: 100%;
	border-radius: .1em;
	border:0;
	color:black;
	font-size:1.5em;
	outline: none;
	padding: .1em;
}

.loginArea
{
	margin-top: 5em;
	padding:8em 2em;
	background-color: #1f2423;
}

