body
{
	background-color: #EFEFEF;
}

html, body
{
    padding-bottom: 4em;
}

.entireWidth
{
	width:100%;
}

.centerElement
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.spacing2
{
    margin-top: 2em;
}

.spacing1
{
    margin-top: 1em;
}

.spacingHalf
{
    margin-top: .5em;
}

.pushContainer
{
    height: 5em;
}

.reducedPadding
{
	padding:.7em;
}

.center-block
{
	float:none;
}

.border
{
	border: 1px solid black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.neon
{
    color: #73E83B;
}

.sBlue
{
    color: #337ab7;
}

.sBlueBorder
{
    border:1px solid #337ab7;
}

.neonBorder
{
    border:1px solid #73E83B;
}

.absolute
{
    position: absolute;
}

.relative
{
    position: relative;
}

.cursorPointer
{
    cursor: pointer;
}

.hideObj
{
    display:none;
}

.z-important
{
    z-index: 999999 !important;
}

.noPadding
{
    padding:0;
}

.paddingHalf
{
    padding: .5em;
}

.paddingTop1
{
    padding-top: 1em;
}

.paddingTop3
{
    padding-top: 3em;
}


