body
{
	background-color: #EFEFEF;
}

#toggle
{
    cursor: pointer;
}

html, body
{
    padding-bottom: 4em;
}

.marginBottom1
{
	margin-bottom: 1em;
}

.entireWidth
{
	width:100%;
}

.centerElement
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.spacing2
{
    margin-top: 2em;
}

.spacing1
{
    margin-top: 1em;
}

.spacingHalf
{
    margin-top: .5em;
}

.pushContainer
{
    height: 5em;
}

.reducedPadding
{
	padding:.7em;
}

.center-block
{
	float:none;
}

.border
{
	border: 1px solid black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.neon
{
    color: #73E83B;
}

.sBlue
{
    color: #337ab7;
}

.sBlueBorder
{
    border:1px solid #337ab7;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

.neonBorder
{
    border:1px solid #73E83B;
}

.absolute
{
    position: absolute;
}

.relative
{
    position: relative;
}

.cursorPointer
{
    cursor: pointer;
}

.hideObj
{
    display:none;
}

.z-important
{
    z-index: 999999 !important;
}

.noPadding
{
    padding:0;
}

.paddingHalf
{
    padding: .5em;
}

.paddingTop1
{
    padding-top: 1em;
}

.paddingTop2
{
    padding-top: 2em;
}

.paddingTop3
{
    padding-top: 3em;
}

#signinOverlay
{
    height: 100%;
    width: 100%;
    background-color: #333333;
    opacity: .95;
    position: absolute;
    z-index:    99999;
    top:        0;
    left:       0;
    position:   fixed;
}

#passwordModal
{
    position: fixed;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 40em;
    height: 25em;
    background-color: white;
    padding: 3em;
}


.questionTabPanel
{

    height: 40em;
    padding: 2em;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    background-color: white;
}

.questionTypeNav.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.questionTypeNav.nav-tabs, .nav-pills {
    text-align:center;
}

.questionTypeNav
{
    background-color: #D2D4D6;
    padding-top:.5em;
    border-radius: 3px;
}

/* tab color */
.questionTypeNav.nav-tabs>li>a {
  background-color: #333333;
  border-color: #777777;
  color:#fff;
}

/* active tab color */
.questionTypeNav.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #822433;
  border: 1px solid #888888;
}

.container
{
    /*position: relative;*/
}
