#profileArea
{
	background-color: #B2B2B2;
	padding: 3em 2em;
	border-radius: 2px;
}

#facebook_link
{
	width: 20em;
}

#facebookChangeSubmit
{
	background-color: #3b5998;
	color: white;
	border: 1px solid #3b5998;
}

#facebook_change_link
{
	width: 20em;
}

#editFBLinkToggle
{
	color:white;
	cursor: pointer;
	padding: .1em;
}

#editFBLinkToggle:hover
{
	color: #A31919;
}

#editFBArea
{
	margin-top: 0.5em;
	display: none;
}

#facebookTooltip
{
	margin-left: .5em;
}

#facebookChangeTooltip
{
	margin-left: .5em;
	color: white;
}

#changeFBArea
{
	margin-bottom: 1em;
	margin-top: 0.5em;
	display: none;
}

#removeFB
{
	color:white;
	cursor: pointer;
}

#editFB
{
	color:white;
	cursor: pointer;
}

#facebookSubmit
{
	background-color: #3b5998;
	color: white;
	border: 1px solid #3b5998;
}

.largeRankingWidget
{
	background-color: white;
	border-radius: 5px;
	padding:1em;
	box-shadow: 2px 2px 5px;
}

.largeRankingWidget li
{
	list-style-type: none;
	background-color: #484848;
	margin: .7em 0;
	color:white;
	padding: .3em;
	border-radius: 5px;
}

.largeRankingWidget strong
{
	color: #73E83B;
}

.profilePic
{
	height: 10em;
	width: 8em;
	border: 2px solid white;
	padding: 0;
}

.topBannerForWidget
{
    background-color: #484848;
}

.profileName > p
{
	background-color: white;
	border-radius: 1px;
	padding: 0 .5em;
}

.profileName > p > a
{
	color: #A31919;
}
