body
{
	background-color: #EDEDED;
}

.navbar {
    margin-bottom: 3em;
}

#profileBubble
{
	height: 16em;
	width: 16em;
	border-radius: 50%;
	border-width: 2px;
}

#profileInfoAreaContainer
{
	padding: 2em 1em;
	background-color:#1f2423;
	border-radius: 0 0 2px 2px;
}

#profileInfoArea
{
	color:white;
	margin-top: 2em;
}

.profileInfo
{
	margin-top: 1em;
}

.profileInfoHeader
{
	padding:.2em;
	border-radius:3px;
}

.pInfoText
{
	font-size: .7em;
	margin-top: .8em;
}

#nameDiv
{
	color:white;
}

#profilePageHeader
{
	height: 21em;
	background-color: #383C40;
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#profileBubble
{ 
   position: relative; 
   width: 100%; /* for IE 6 */ 
}

h2.editProfilePic { 
   position: absolute; 
   top: 5em; 
   left: 5em; 
   width: 100%; 
   pointer-events: none;
}

h2.editProfilePic span { 
   color: white; 
   letter-spacing: -1px; 
}

#profileSpacing
{
	height: 21em;
}

#postArea
{
	margin-top: 1em;
}

#postProfile
{
	resize: none;
}

.coolButton:hover, .coolButton:focus
{
	border-color: black;
}

.coolButton, .coolButton:hover, .coolButton:focus
{
	background-color: #337ab7;
}

#postButton
{
	margin-top: .5em;
}

.post
{
	background-color: #FFFFFF;
	border-radius: 2px;
	margin-top: 3em;
	padding-top:.2em;
	padding-bottom:.5em;
}

.postImage
{
	position: relative;
	height: 3em;
	width: 3em;
	left:-1.6em;
	top:-1.7em;
}
#postWall
{
	margin-top: 2em;
}

.savePost
{
	cursor: pointer;
	font-size: 1.5em;
	left: .6em;
}

.postBody
{
	font-size: 1.4em;
	line-height: 1.2em;
	margin-bottom: 0;
}

.account_type
{
	color:#D3D3D3;
}

.sharePost
{
	cursor: pointer;
	left: .6em;
}

.smallSocial
{
	width: 1em;
}
